/* Hacer que el body ocupe todo el alto de la pantalla */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Usamos flexbox para que el contenido ocupe el máximo espacio disponible */
body {
    display: flex;
    flex-direction: column;
    background-color: #c3cfe2;
    background: linear-gradient(120deg, #c3cfe2, #c3cfe2);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;
  
}

/* Contenedor de contenido principal */
.container {
    flex: 1; /* Esto hace que el contenido ocupe todo el espacio disponible */
}

/* Carrusel general */
.carousel-inner {
    width: 100%;
}

.carousel-item {
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

/* Contenido centrado dentro del carrusel */
.carousel-caption {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
    border-radius: 10px;
    color: white;
    max-width: 600px;
    margin: 0 auto;
}

/* Widget del clima */
.weather-widget {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
}

.weather-info {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.weather-details {
    font-size: 1rem;
    margin-top: 10px;
}

.weather-icon i {
    font-size: 3rem;
    margin-top: 15px;
}

/* Footer siempre en el fondo */
footer {
    background-color: #343a40;
    color: white;
    padding: 20px;
    margin-top: auto; /* Asegura que el footer se quede en el fondo */
}

.carousel {
    margin: 0;
    padding: 0;
}

  
